#aboutTitle {
    margin-bottom: 6%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 18px;
}

.hardSkillsIconsList {
    text-align: center;
}

.hardSkillIcons, .hobbiesIcons {
    height:50px;
    width:50px;
}

.experienceDescription {
    background-color: whitesmoke;
    width: 40%;
}